<div class="banner-top">
  <img src="//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?2927923569" class="img_phone" alt>
  <div class="banner-text">
    <p class="line_one">Free Market Apps</p>
    <p class="line_two">Developed by Team 0706a</p>
  </div>
</div>

<div class="main">

  <a href="#" class="fixed_btn">
    出品<br><%= fa_icon 'camera', class: 'icon' %>
  </a>

  <h1>ビックアップカテゴリー</h1>

  <a href="#">
    <h2>レディース新着アイテム</h2>
  </a>

  <div class="container clearfix">
    <% @wmen.each do |product| %>
      <div class="container-cell">
        <%= image_tag(product.image.url, class: 'container-cell__pix') %>
          <div class="container-cell__description">
            <ul>
              <li class="container-cell__description--product">
                <%= product.item.name %>
              </li>
              <li class="container-cell__description--info">
                <p class="one">￥<%= product.item.price %></p>
                <p class="two">
                <%= fa_icon 'heart', class: 'icon' %> <%= product.item.good %></p>
              </li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container-bottom">
    <a href="#">すべての処品を見る</a>
  </div>

  <a href="#">
    <h2>メンズ新着アイテム</h2>
  </a>

  <div class="container clearfix">
    <% @men.each do |product| %>
      <div class="container-cell">
        <%= image_tag(product.image.url, class: 'container-cell__pix') %>
          <div class="container-cell__description">
            <ul>
              <li class="container-cell__description--product">
                <%= product.item.name %>
              </li>
              <li class="container-cell__description--info">
                <p class="one">￥<%= product.item.price %></p>
                <p class="two">
                <%= fa_icon 'heart', class: 'icon' %> <%= product.item.good %></p>
              </li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container-bottom">
    <a href="#">すべての処品を見る</a>
  </div>


<a href="#">
    <h2>ベビー・キッズ 新着アイテム</h2>
  </a>

  <div class="container clearfix">
    <% @kids.each do |product| %>
      <div class="container-cell">
        <%= image_tag(product.image.url, class: 'container-cell__pix') %>
          <div class="container-cell__description">
            <ul>
              <li class="container-cell__description--product">
                <%= product.item.name %>
              </li>
              <li class="container-cell__description--info">
                <p class="one">￥<%= product.item.price %></p>
                <p class="two">
                <%= fa_icon 'heart', class: 'icon' %> <%= product.item.good %></p>
              </li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container-bottom">
    <a href="#">すべての処品を見る</a>
  </div>


  <h1>ビックアップブランド</h1>

<a href="#">
    <h2>シャネル新着アイテム</h2>
  </a>

  <div class="container clearfix">
    <% @chans.each do |product| %>
      <div class="container-cell">
        <%= image_tag(product.image.url, class: 'container-cell__pix') %>
          <div class="container-cell__description">
            <ul>
              <li class="container-cell__description--product">
                <%= product.item.name %>
              </li>
              <li class="container-cell__description--info">
                <p class="one">￥<%= product.item.price %></p>
                <p class="two">
                <%= fa_icon 'heart', class: 'icon' %> <%= product.item.good %></p>
              </li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container-bottom">
    <a href="#">すべての処品を見る</a>
  </div>


<a href="#">
    <h2>ルイヴィトン新着アイテム</h2>
  </a>

  <div class="container clearfix">
    <% @louvs.each do |product| %>
      <div class="container-cell">
        <%= image_tag(product.image.url, class: 'container-cell__pix') %>
          <div class="container-cell__description">
            <ul>
              <li class="container-cell__description--product">
                <%= product.item.name %>
              </li>
              <li class="container-cell__description--info">
                <p class="one">￥<%= product.item.price %></p>
                <p class="two">
                <%= fa_icon 'heart', class: 'icon' %> <%= product.item.good %></p>
              </li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container-bottom">
    <a href="#">すべての処品を見る</a>
  </div>


<a href="#">
    <h2>ナイキ新着アイテム</h2>
  </a>

  <div class="container clearfix">
    <% @nikes.each do |product| %>
      <div class="container-cell">
        <%= image_tag(product.image.url, class: 'container-cell__pix') %>
          <div class="container-cell__description">
            <ul>
              <li class="container-cell__description--product">
                <%= product.item.name %>
              </li>
              <li class="container-cell__description--info">
                <p class="one">￥<%= product.item.price %></p>
                <p class="two">
                <%= fa_icon 'heart', class: 'icon' %> <%= product.item.good %></p>
              </li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container-bottom">
    <a href="#">すべての処品を見る</a>
  </div>

</div>








<div class="banner-bottom">
  <div class="banner-bottom__left clearfix">
    <p class="text_01">スマホでかんたんフリマアプリ</p>
    <p class="text_02">今すぐ無料ダウンロード！</p>
    <div class="banner-bottom__left--bottom">
      <img width="68" class="icon_01" src="//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2098311808">
      <img width="133" height="40" class="icon_02" src="//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2098311808">
      <img width="133" height="40" class="icon_03" src="//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2098311808">
    </div>
  </div>
  <img src="//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?2927923569" class="img_phones" alt="">

</div>