= render "users/shared/mercari-logo"
.log-in
  .log-in__header
    %p.log-in__header--no-account アカウントをお持ちでない方はこちら
    = link_to "/signup/select" do
      .create-new
        %p.create-new__logo 新規会員登録
  .log-in__body-account
    .facebook-box
      = link_to user_facebook_omniauth_authorize_path do
        %i.fa.fa-facebook-square
        %p.facebook-box__logo Facebookでログイン
    .google-box
      = link_to user_google_oauth2_omniauth_authorize_path do
        = image_tag "https://img.icons8.com/color/24/000000/google-logo.png", class: "google-img"
        %p.google-box__logo Googleでログイン
  .log-in__body-form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.email_field :email, class:"log-in__body-form--address", placeholder: "メールアドレス"
      = f.password_field :password, class: "log-in__body-form--password", placeholder: "パスワード"
      .log-in__body-form--robot 私はロボットではありませんをここに入れる
      = f.submit 'ログイン', class: "log-in__body-form--enter"
      = link_to "#" do
        %p.log-in__body-form--forget パスワードをお忘れの方
= render "users/shared/footer" 