= render "mercari-logo"
.pay-main
  .pay-main__header
    %p.pay-main__header--logo 支払い方法
  .pay-main__body
    .pay-form-box
      %p.pay-form-box__sub カード番号
      .pay-form-box__mark 必須
      %input{ class: "pay-form-box__form", placeholder: "半角数字のみ", type: "string"}
      .credit-card
        %span.creditcard-logo
          = image_tag ('//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?917505326'), width: "49px", height: "20px"
        %span.creditcard-logo
          = image_tag ('//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?917505326'), width: "34px", height: "20px"
        %span.creditcard-logo
          = image_tag ('//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?917505326'), width: "30px", height: "20px"
        %span.creditcard-logo 
          = image_tag ('//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?917505326'), width: "32px", height: "20px"
        %span.creditcard-logo
          = image_tag ('//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?917505326'), width: "21px", height: "20px"
        %span.creditcard-logo
          =image_tag ('//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?917505326'), width: "32px", height: "20px"
        %span.creditcard-logo
          = image_tag ('//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?917505326'), width: "32px", height: "20px"
    .pay-form-box
      %p.pay-form-box__sub 有効期限
      .pay-form-box__mark 必須
      .pay-form-box__form-mini
        %input{ class: "pay-form-box__form-mini--date", placeholder: "01", type: "string"}
        %p.form-date 年
        %input{ class: "pay-form-box__form-mini--date", placeholder: "19", type: "string"}
        %p.form-date 月
    .pay-form-box
      %p.pay-form-box__sub セキュリティーコード
      .pay-form-box__mark 必須
      %input{ class: "pay-form-box__form", placeholder: "カード背面4桁もしくは3桁の番号", type: "string"}
    = link_to "#" do
      %span.next-page
        = render "go-to-next"
= render "footer"  