.mypage__side_menu
  %ul.mypage__side_menu__lists
    - if (controller_path == 'users' && action_name == 'show')
      %li#select.mypage__side_menu__lists__name    
        = link_to user_path(id: current_user.id), class: 'mypage__side_menu__lists__name__text', id: "show" do
          マイページ
          %i.fa.fa-angle-right.fa-2x
    - else
      %li.mypage__side_menu__lists__name
        = link_to user_path(id: current_user.id), class: 'mypage__side_menu__lists__name__text', id: "show" do
          マイページ
          %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        お知らせ
        %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        やることリスト
        %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        いいね！一覧
        %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        出品する
        %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        出品した商品 - 出品中
        %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        出品した商品 - 取引中
        %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        出品した商品 - 売却済み
        %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        購入した商品 - 取引中
        %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        購入した商品 - 過去の取引
        %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        ニュース一覧
        %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        評価一覧
        %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        ガイド
        %i.fa.fa-angle-right.fa-2x
    %li.mypage__side_menu__lists__name
      = link_to "#", class: 'mypage__side_menu__lists__name__text' do
        お問い合わせ
        %i.fa.fa-angle-right.fa-2x
        
  %ul.mypage__side_menu__merupay
    .mypage__side_menu__merupay__title
      メルペイ
    .mypage__side_menu__merupay__lists
      %li.mypage__side_menu__merupay__lists__name
        = link_to "#", class: 'mypage__side_menu__merupay__lists__name__text' do
          売上・振込申請
          %i.fa.fa-angle-right.fa-2x
      %li.mypage__side_menu__merupay__lists__name
        = link_to "#", class: 'mypage__side_menu__merupay__lists__name__text' do
          ポイント
          %i.fa.fa-angle-right.fa-2x

  %ul.mypage__side_menu__setting
    .mypage__side_menu__setting__title
      設定
    .mypage__side_menu__setting__lists
      %li.mypage__side_menu__setting__lists__name
        = link_to profile_index_path, class: 'mypage__side_menu__setting__lists__name__text' do
          プロフィール
          %i.fa.fa-angle-right.fa-2x
      %li.mypage__side_menu__setting__lists__name
        = link_to "#", class: 'mypage__side_menu__setting__lists__name__text' do
          発送元・お届け先住所変更
          %i.fa.fa-angle-right.fa-2x
      %li.mypage__side_menu__setting__lists__name
        = link_to "/cards", class: 'mypage__side_menu__setting__lists__name__text' do
          支払い方法
          %i.fa.fa-angle-right.fa-2x
      %li.mypage__side_menu__setting__lists__name
        = link_to "#", class: 'mypage__side_menu__setting__lists__name__text' do
          メール/パスワード
          %i.fa.fa-angle-right.fa-2x
      - if (controller_path == 'users' && action_name == 'new')
        %li#select.mypage__side_menu__setting__lists__name
          = link_to new_user_path, class: 'mypage__side_menu__setting__lists__name__text', id: "new" do
            本人情報
            %i.fa.fa-angle-right.fa-2x
      - else
        %li.mypage__side_menu__setting__lists__name
          = link_to new_user_path, class: 'mypage__side_menu__setting__lists__name__text', id: "new" do
            本人情報
            %i.fa.fa-angle-right.fa-2x
      %li.mypage__side_menu__setting__lists__name
        = link_to "#", class: 'mypage__side_menu__setting__lists__name__text' do
          電話番号の確認
          %i.fa.fa-angle-right.fa-2x
      %li.mypage__side_menu__setting__lists__name
        = link_to logout_path, class: 'mypage__side_menu__setting__lists__name__text' do
          ログアウト
          %i.fa.fa-angle-right.fa-2x