.items-detail-wrap
  .item-name
    %h1 
    = @cat.category.name 

  .item-detail-content
    .item-detail-content__images
      .image-detail
        = image_tag(@img.image.url, width: '300', height: '300')
      .image-row
        .image-mini
          - @imgs.each do |img|
            = image_tag(img.image.url, width: '60', height: '60', class: 'mini-image')

    %table.item-detail-content__table
      %tr
        %th 出品者
        %td
          =link_to "#" do
            %p
            = @detail.user.nickname
          .rate
            .rate-good
              %i.fa.fa-star
              20
            .rate-normal
              %i.fa.fa-star-half
              10
            .rate-bad
              %i.fa.fa-star
              0
      %tr
        %th カテゴリー
        %td
          =link_to '#' do
            %span
            = @cat.category.name 
            %br
            %i.fa.fa-chevron-right
            %span カテゴリ1
            %br
            %i.fa.fa-chevron-right
            %span カテゴリ2
      %tr
        %th ブランド
        %td
          =link_to '#' do
            %p その他
      %tr
        %th サイズ
        %td 
          = @item.size
      %tr
        %th 商品の状態
        %td 
          = @item.state
      %tr
        %th 配送料の負担
        %td
          = @item.delivery_status
      %tr
        %th 配送の方法
        %td
          = @item.shipping_method
      %tr
        %th 配送元地域
        %td
          =link_to '#' do
            %p
            = @item.shipping_source_area
      %tr
        %th 発送日の目安
        %td
          = @item.days_ship


  .item-detail-price
    %span.item-detail-price__taxed-price
      ¥ 
      = @item.price
    %span.item-detail-price__tax
      (税込)
    %span.item-detail-price__sum
      = @item.delivery_status

    
  - if @item.status == 'Sold' then
    .item-close__btn
      = link_to root_path do
        %p 売り切れました
  - else
    - if user_signed_in? && current_user.id == @item.user_id then
      .item-edit__btn
        = link_to "#" do
          %p 商品の編集
      %p.text-center-or or
      .item-delete__btn
        = link_to item_path(@item.id), method: :delete do
          %p この商品を削除する
    - else
    .item-purchase__btn
      = link_to(confirmation_item_path(@item.id), class: 'buy-btn') do
        %p 購入画面に進む

  .item-detail-description
    %p
      = @item.description

  .item-btn-content
    .item-btn-content-left
      .item-btn-content__like
        %i.fa.fa-heart
        %span いいね! 5
      .item-btn-content__report
        = link_to '#', class: 'report-btn' do
          %i.fa.fa-flag
          %span 不適切な商品の報告

    .item-btn-content-right
      = link_to '#', class: 'report-btn' do
        %i.fa.fa-lock
        %span あんしん・あんぜんへの取り組み

.items-detail-message__box
  .items-detail-message__body.clearfix
    .items-message-content
    = image_tag('icon-image.png', class: 'user-face', width: '40', height: '40')
    .chatting
      .chats
        %p こんにちは
        .time
          %i.fa.fa-history
          %span 1日前

  .items-detail-message__body.clearfix
    .items-message-content
    = image_tag('icon-image.png', class: 'user-face', width: '40', height: '40')
    .chatting
      .chats
        %p こんにちは
        .time
          %i.fa.fa-history
          %span 2日前

  .items-message-head
    %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    = form_with do |f|
      = f.text_area :comment, type: 'input', class: 'message-head'
    .items-message-head__btn
      = link_to '#', class: 'messege-btn' do
        %span コメントする

%ul.item-link
  %li.item-link__prev
    =link_to '#' do
      %i.fa.fa-chevron-left
      %span サンダル ミュール パンプス 靴 春夏
  %li.item-link__next
    =link_to '#' do
      %span THE TEAM5つの法則
      %i.fa.fa-chevron-right

.social-medias
  %ul.social-media-box
    .facebook-box
      %li
        = link_to '#', class: 'facebook-icon' do
          %i.fa.fa-facebook-square
    .twitter-box
      %li
        = link_to '#', class: 'twitter-icon' do
          %i.fa.fa-twitter-square
    %li.pinterest-box
      = link_to '#', class: 'pinterest-icon' do
        %i.fa.fa-pinterest-square

.items-user-box
  %section.items-user-box__items
    %h4
      =link_to "#{@detail.user.nickname}"+"さんのその他の出品", "#"

    - @user_items.zip(@images) do |user_item, img|
      .items-user-box__items__row
        .items-user-box__items__row__listing
          =link_to '#' do
            = image_tag(img.image.url, width: '220', height: '220')
            .items-user-box__items__row__listing--body
              %h5
                = user_item.name
              .items-user-box__items__row__listing--body--price
                ¥
                = user_item.price
                %p (税込)





