<div class="contents">

  <div class="mypage-nav">TBP by kurimura-san</div>
 
  <div class="main">

    <%= link_to '#', class: "fixed_btn" do %>
      出品<br><%= fa_icon 'camera', class: 'icon' %>
    <% end %>

    <h2>支払い方法</h2>
    <div class="main-middle">
      <p class="one">クレジットカード一覧</p>
      <%= link_to '/cards/new' do %>
        <p class="two">
          <%= fa_icon 'credit-card', class: 'icon' %> 
          クレジットカードを追加する
        </p>
      <% end %>
    </div>

    <hr>
    <p class="main-bottom">

      <%= link_to '#' do %>
        支払い方法について
        <span>
          <%= fa_icon 'chevron-right', class: 'icon'%>
        </span>
      <% end %>
    </p>

  </div>
 
</div>





