= render 'layouts/breadcrumbs'

.mypage
  .mypage__main
    .contents
      .main-two
        = link_to '#', class: 'fixed_btn' do
          出品
          %br/
          = fa_icon 'camera', class: 'icon'
        %h2 クレジットカード情報
        %form.payment-form
          %p カード番号
          %p.mandatory 必須
          .input
            %input#card_no.input-default{maxlength: "19", placeholder: "半角数字のみ", type: "text"}/
          .card-type.clearfix
            %ul
              %li.card-type__list
                = image_tag 'visa-credit.svg', class: 'visa'
              %li.card-type__list
                = image_tag 'master-card-credit.svg', class: 'master'
              %li.card-type__list
                = image_tag 'saison-card-credit.svg', class: 'saison'
              %li.card-type__list
                = image_tag 'jcb-credit.svg', class: 'jcb'
              %li.card-type__list
                = image_tag 'american_express-credit.svg', class: 'amex'
              %li.card-type__list
                = image_tag 'dinersclub-credit.svg', class: 'diners'
              %li.card-type__list
                = image_tag 'discover-credit.svg', class: 'discover'
          %p 有効期限
          %p.mandatory 必須
          .input
            %select#card_exp_mm.select-default
              %option{value: "01"} 01
              %option{value: "02"} 02
              %option{value: "03"} 03
              %option{value: "04"} 04
              %option{value: "05"} 05
              %option{value: "06"} 06
              %option{value: "07"} 07
              %option{value: "08"} 08
              %option{value: "09"} 09
              %option{value: "10"} 10
              %option{value: "11"} 11
              %option{value: "12"} 12
            %span 月
            %select#card_exp_yy.select-default
              %option{value: "19"} 19
              %option{value: "20"} 20
              %option{value: "21"} 21
              %option{value: "22"} 22
              %option{value: "23"} 23
              %option{value: "24"} 24
              %option{value: "25"} 25
              %option{value: "26"} 26
              %option{value: "27"} 27
              %option{value: "28"} 28
              %option{value: "29"} 29
            %span 年
          .security
            %p セキュリティコード
            %p.mandatory 必須
            .input
              %input#security_code.input-default{maxlength: "4", placeholder: "カード背面4桁もしくは3桁の番号", type: "text"}/
            %p.security-about
              %span.security-about__question ?
              カード裏面の番号とは？
          .form-submit.clearfix
            %button#submit-button.form-submit__btn{type: "button"} 追加する
  =render partial: "users/side_menu"
