.header
  .header-top
    %h1
      =link_to root_path do
        =image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2927923569')
    %form.header-top__form{action: "https://www.mercari.com/jp/search/"}
      %input.i-entry{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}
      %i.fa.fa-search
  .header-bottom
    .header-bottom__left
      %ul
        =link_to "#" do
          %li.header-bottom__left--list-icon
            = fa_icon 'list-ul', class: 'icon'
          .js-wrap-category
            %li.header-bottom__left--list カテゴリから探す
            = render "layouts/onmouse-sub-category"
      %ul
        =link_to "#" do
          %li.header-bottom__left--list-icon
            = fa_icon 'tag', class: 'icon'
          .js-wrap-brand
            %li.header-bottom__left--list ブランドから探す
            = render "layouts/onmouse-sub-brand"

    - if user_signed_in?
      .header-bottom__right
        %ul
          =link_to "#" do
            %li#like_icon.header-bottom__right--icon
              = fa_icon 'heart', class: 'icon'
            %li#like_text.header-bottom__right--list いいね！一覧
          =link_to "#" do
            %li.header-bottom__right--icon
              = fa_icon 'bell', class: 'icon'
            %li#info_text.header-bottom__right--list お知らせ
          =link_to "#" do
            %li.header-bottom__right--icon
              = fa_icon 'check', class: 'icon'
            %li#todo_text.header-bottom__right--list やることリスト
          = link_to user_path(current_user.id) do
            %li.header-bottom__right--face
              =image_tag('//static.mercdn.net/images/member_photo_noimage_thumb.png', class: 'img-me')
            %li#mypage_text.header-bottom__right--list マイページ

    - else
      .header-bottom__right-logout
        %ul
          = link_to signup_select_path, class: "header-bottom__right-logout--signup" do
            %p 新規会員登録
          = link_to new_user_session_path,  class: "header-bottom__right-logout--login" do
            %p ログイン
