.sub-menu-category
  = link_to "#", class: "sub-menu-category__list" do
    %p レディース
  = link_to "#", class: "sub-menu-category__list" do
    %p メンズ
  = link_to "#", class: "sub-menu-category__list" do
    %p ベビー・キッズ
  = link_to "#", class: "sub-menu-category__list" do
    %p インテリア・住まい・小物
  = link_to "#", class: "sub-menu-category__list" do
    %p 本・音楽・ゲーム
  = link_to "#", class: "sub-menu-category__list" do
    %p おもちゃ・ホビー・グッズ
  = link_to "#", class: "sub-menu-category__list" do
    %p コスメ・香水・美容
  = link_to "#", class: "sub-menu-category__list" do
    %p 家電・スマホ・カメラ
  = link_to "#", class: "sub-menu-category__list" do
    %p スポーツ・レジャー
  = link_to "#", class: "sub-menu-category__list" do
    %p ハンドメイド
  = link_to "#", class: "sub-menu-category__list" do
    %p チケット
  = link_to "#", class: "sub-menu-category__list" do
    %p 自動車・オートバイ
  = link_to "#", class: "sub-menu-category__list" do
    %p その他
  = link_to "#", class: "sub-menu-category__list" do
    %p カテゴリー一覧
