.sub-menu-brand
  = link_to "#", class: "sub-menu-brand__list" do
    %p シャネル
  = link_to "#", class: "sub-menu-brand__list" do
    %p ナイキ
  = link_to "#", class: "sub-menu-brand__list" do
    %p ルイ ヴィトン
  = link_to "#", class: "sub-menu-brand__list" do
    %p シュプリーム
  = link_to "#", class: "sub-menu-brand__list" do
    %p アディダス
  = link_to "#", class: "sub-menu-brand__list" do
    %p ブランド一覧